<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Type</th>
                <th>Cost</th>
            </tr>
        </thead>

        <tbody>
            @for (product of products(); track product.name) {
            <tr (click)="openModal.emit(product)" class="hover:bg-base-200 cursor-pointer">
                <td>
                    <img [src]="product.image" alt="" width="50">
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>
                    € {{ product.cost }}
                    <button class="btn btn-secondary ml-2" (click)="deleteProductHandler(product, $event)">Delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>