<section aria-labelledby="summary-heading"
    class="bg-slate-900 py-12 text-slate-300 md:px-10 lg:col-start-2 lg:row-start-1 lg:mx-auto lg:w-full lg:max-w-lg lg:bg-transparent lg:px-0 lg:pt-0 lg:pb-24">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none lg:px-0">

        <dl>
            <dt class="text-sm font-medium">Total</dt>
            <dd class="mt-1 text-3xl font-bold tracking-tight text-white">€ 16.00</dd>
        </dl>

        <ul role="list" class="divide-y divide-white divide-opacity-10 text-sm font-medium">
            <li class="flex items-start space-x-4 py-6">
                <img src="https://res.cloudinary.com/my-notes-demo/image/upload/v1712149831/tutorial-content/video-corsi/ngrx/image-keychains/github-2.jpg"
                    alt="description" class="h-20 w-20 flex-none rounded-md object-cover object-center">
                <div class="flex-auto space-y-1">
                    <h3 class="text-white">Github #1</h3>
                    <p>Cost: € 3 </p>
                    <p>Qty: 2</p>
                </div>
                <p class="flex-none text-base font-medium text-white">€ 6.00</p>
            </li>
            <li class="flex items-start space-x-4 py-6">
                <img src="https://res.cloudinary.com/my-notes-demo/image/upload/v1712149827/tutorial-content/video-corsi/ngrx/image-keychains/angular-1.jpg"
                    alt="description" class="h-20 w-20 flex-none rounded-md object-cover object-center">
                <div class="flex-auto space-y-1">
                    <h3 class="text-white">Github #1</h3>
                    <p>Cost: € 3 </p>
                    <p>Qty: 1</p>
                </div>
                <p class="flex-none text-base font-medium text-white">€ 3.00</p>
            </li>
            <!-- More products... -->
        </ul>

        <dl class="space-y-6 border-t border-white border-opacity-10 pt-6 text-sm font-medium">
            <div class="flex items-center justify-between">
                <dt>Subtotal</dt>
                <dd>€ 9.00</dd>
            </div>

            <div class="flex items-center justify-between">
                <dt>Shipping</dt>
                <dd>€ 10.00</dd>
            </div>

            <div class="flex items-center justify-between border-t border-white border-opacity-10 pt-6 text-white">
                <dt class="text-base">Total</dt>
                <dd class="text-base">€ 19.00</dd>
            </div>
        </dl>
    </div>
</section>