<div class="bg-white">
    <!-- Background color split screen for large screens -->
    <div class="fixed top-0 left-0 hidden h-full w-1/2 bg-white lg:block" aria-hidden="true"></div>
    <div class="fixed top-0 right-0 hidden h-full w-1/2 bg-slate-900 lg:block" aria-hidden="true"></div>

    <!--Column Responsive layout-->
    <div class="relative mx-auto grid max-w-7xl grid-cols-1 gap-x-16 lg:grid-cols-2 lg:px-8 lg:pt-16">
        <app-user-info-form (confirm)="sendOrder($event)" />
        <app-user-cart-summary [list]="cartList()" [totalCost]="totalCost()" />
    </div>
</div>

<!-- <pre>{{ cartList() | json }}</pre> -->